/* debugging: show the virtual blocks during scrolling
.scroll-block0 {
    border: 1px solid yellow
}
.scroll-block1 {
    border: 1px solid blue
}
 */

/* browser resets */
html,body {
    margin: 0;
    padding: 0
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 20px;
}
/* bugfix for iOS as it renders inputs and buttons with radius borders very slowly! */
input,button {
    font-size: 20px;
    outline: none;
    border: 0;
    -webkit-border-radius: 0px;
}

/* main layout*/
html {
    height: 100%;
}
body {
    padding-top: 50px;
    position:absolute;
    top:0; bottom:0; left:0; right:0;
}
.header {
    margin-top: -50px;
    height: 50px
}
.content {
    height: 100%;
}


/* scroller */
div.scroll-viewport {
    border: 1px solid black;
    width: 50%;
    min-width: 300px;
}
.scroll-header, .scroll-footer {
    background-color:grey;
    height:40px;
    text-align: center
}

/* items in the list */
.todo-row {
    border: 1px solid white;
    position: relative
}

.todo-item {
    background: #fafafa;
    padding: 6px;
    height: 40px;
    position: relative
}
.todo-action {
    position: absolute;
    right: 20px;
    top: 0;
}

.todo-toggle {
    line-height: 43px;
    font-size: 30px;
    height: 40px;
    padding-right: 10px;
}
.todo-toggle-off {
    color: #d9d9d9;
}
.todo-toggle-on {
    color: #85ada7;
}
.todo-input {
    position:absolute;
    top:3px;
    height: 80%;
    font-size: 20px;
}
.todo-text {
    font-size: 24px;
}
.todo-done {
    text-decoration: line-through;
}


/* buttons */
.btn-normal, .btn-danger {
    padding: 6px 12px;
}
.btn-normal {
    color: #fff;
    background-color: #428bca;
    border: 1px solid #357ebd;
}
.btn-normal:active,.btn-normal:focus  {
    background-color: #3276b1;
    border: 1px solid #285e8e;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border: 1px solid #d43f3a;
}
.btn-danger:hover, .btn-danger:hover {
    color: #fff;
    background-color: #d2322d;
    border: 1px solid #ac2925;
}
