<!doctype html>
<html ng-app="demo">
    <head>
        <meta charset="utf-8">
        <title>touchanimation</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="styles/d41d8cd9.vendor.css">
        <link rel="stylesheet" href="styles/1c8c77ab.main.css">

    </head>
    <body ng-controller="ScrollController as scroll">

    <div class="header">
        <button class="btn-normal" ng-tap="scroll.addRows(20)">Add 20</button>
        Tap: edit, swipe: delete
    </div>

    <div class="content" scroller="scroll.rows" scroll-indicator="">
        <div scroll-header="">
            <div class="pull-to-refresh" scroll-pull-to-refresh="">Pull to refresh</div>
        </div>
        <div scroll-footer="">
            Bottom...
        </div>
        <div scroll-row="" class="todo-row">
            <button class="todo-action btn-danger" ng-tap="scroll.delete(row)">
                Delete
            </button>
            <div left-swipeable="" class="todo-item">
                <span class="todo-toggle" ng-class="{'todo-toggle-on': row.done, 'todo-toggle-off': !row.done}" ng-tap="row.done = !row.done">✔</span>
                <input type="text" ng-model="row.text" ng-blur="scroll.editRow=null" ng-if="scroll.editRow===row" class="todo-input">
                <span ng-if="scroll.editRow!==row" ng-bind="row.text" ng-tap="scroll.editRow=row" class="todo-text" ng-class="{'todo-done': row.done}"></span>
            </div>
        </div>
    </div>
        <!--
        <p>
        Performance comparison: Native slider
        <input type="range" min="0" max="100" style="width:200px">
        </p>
        -->

    <script src="scripts/2e103cf9.vendor.js"></script>

    <script src="scripts/926c0802.main.js"></script>
    </body>
</html>