<!doctype html>
<html ng-app="demo">
    <head>
        <meta charset="utf-8">
        <title>touchanimation</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/scroller.css">

    </head>
    <body ng-controller="ScrollController as scroll">

    <div class="header">
        <button class="btn-normal" ng-click="scroll.addRows(20)">Add 20</button>
        Double click to edit, swipe left to delete.
    </div>

    <div class="content" scroller="scroll.rows" scroll-indicator>
        <div scroll-header>
            <div class="pull-to-refresh" scroll-pull-to-refresh>Pull to refresh</div>
        </div>
        <div scroll-footer>
            Bottom...
        </div>
        <div scroll-row class="todo-row" ng-class="{'todo-done': row.done}">
            <button class="todo-action btn-danger" ng-click="scroll.delete(row)">
                Delete
            </button>
            <div left-swipeable class="todo-item" ng-dblclick="scroll.editRow=row">
                <input type="checkbox" ng-model="row.done" class="todo-toggle">

                <input type="text" ng-model="row.text" ng-blur="scroll.editRow=null" ng-show="scroll.editRow===row" class="todo-input">
                <span ng-show="scroll.editRow!==row" ng-bind="row.text" class="todo-text"></span>
            </div>
        </div>
    </div>
        <!--
        <p>
        Performance comparison: Native slider
        <input type="range" min="0" max="100" style="width:200px">
        </p>
        -->

    <script src="bower_components/fastclick/lib/fastclick.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="scripts/web-animations.js"></script>
    <script src="scripts/web-animations-fixes.js"></script>

    <script src="scripts/touch-animation/gesture-events.js"></script>
    <script src="scripts/touch-animation/touch-animation.js"></script>
    <script src="scripts/scroll/module.js"></script>
    <script src="scripts/scroll/scroller.js"></script>
    <script src="scripts/scroll/scroll-header.js"></script>
    <script src="scripts/scroll/scroll-footer.js"></script>
    <script src="scripts/scroll/scroll-indicator.js"></script>
    <script src="scripts/scroll/scroll-pull-to-refresh.js"></script>
    <script src="scripts/module.js"></script>
    <script src="scripts/left-swipeable.js"></script>

    <script>
        var mod = angular.module('scroll');

        mod.controller('ScrollController', function() {
            var i;
            this.rows = [];
            this.addRows = function(count) {
                var i, row;
                for (i=0; i<count; i++) {
                    row = {index: this.rows.length, text: 'todo no '+this.rows.length};
                    // row.clicked = i % 3 === 0;
                    this.rows.push(row);

                }
            };
            this.addRows(40);
            this.delete = function(row) {
                var i;
                for (i=0; i<this.rows.length; i++) {
                    if (this.rows[i] === row) {
                        this.rows.splice(i, 1);
                        return;
                    }
                }
            }
        });
    </script>
    </body>
</html>

